.main-container {
    max-width: 60%;
    margin: auto;
    padding: 40px 0;
    position:relative;
}
.form-buttons {
    display:flex;
    flex-direction:column;
    gap:10px;
}

.bg_gradient-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #DE8F5F;
    background-image: linear-gradient(90deg, #B5623C, #D17452, #FFB38E, #FF8F6B);
}

.bg_gradient-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(180deg, transparent, #70351E, #4A2B17, #341F10);
}

