@{
    ViewData["Title"] = "Home Page";
}

<header class="navbar">
    <div class="navbar-left">
        <a href="/" class="navbar-brand">IMusic</a>
    </div>
    <div class="navbar-center">
        <input type="text" class="search-input" placeholder="Search...">
    </div>
    <div class="navbar-right">
        <div class="user-icon">
            <img src="~/images/user-icon.png" alt="User Profile" class="user-icon-img">
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Settings</a>
                <a href="#">Logout</a>
            </div>
        </div>
    </div>
</header>
<link rel="stylesheet" href="@Url.Content("~/css/Index.css")">

<div class="hero-section">
    <div class="container text-center">
        <h1 class="display-3">Discover Your Sound</h1>
        <p class="lead">Stream millions of songs, albums, and playlists from your favorite artists.</p>
        <a href="/Song" class="btn btn-primary btn-lg">Start Listening</a>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <h2 class="section-title">Featured Playlists</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="playlist-card">
                    <img src="~/images/playlist1.jpg" class="playlist-image" alt="Playlist 1">
                    <div class="playlist-info">
                        <h4>Top Hits</h4>
                        <p>Listen to the best tracks of 2024.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="playlist-card">
                    <img src="~/images/playlist2.jpg" class="playlist-image" alt="Playlist 2">
                    <div class="playlist-info">
                        <h4>Relax & Unwind</h4>
                        <p>Chill out with smooth and relaxing tunes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="playlist-card">
                    <img src="~/images/playlist3.jpg" class="playlist-image" alt="Playlist 3">
                    <div class="playlist-info">
                        <h4>Workout Beats</h4>
                        <p>Get motivated with high-energy tracks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
